@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
    border-style: inset;
    border-width: 2px;
    border-color: red;
} */

::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    
}